<link rel="stylesheet" href="style.css">
<main>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Frequently Asked Questions</h1>
            <hr>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h2>What is the purpose of this website?</h2>
            <p>This website is a place for people to share their stories and experiences with mental health. It is a place for people to find support and to find others who are going through similar things. It is a place for people to find resources and information about mental health. It is a place for people to find hope and to find a community.</p>
            <h2>How do I share my story?</h2>
            <p>Click on the "Share Your Story" button in the navigation bar at the top of the page. You will be taken to a form where you can share your story. Once you have submitted your story, it will be reviewed by a moderator and then posted to the website.</p>
            <h2>How do I find a story?</h2>
            <p>Click on the "Stories" button in the navigation bar at the top of the page. You will be taken to a page where you can search for stories by keyword, category, or author. You can also browse stories by category by clicking on the "Browse Stories" button in the navigation bar at the top of the page.</p>
            <h2>How do I find resources?</h2>
            <p>Click on the "Resources" button in the navigation bar at the top of the page. You will be taken to a page where you can search for resources by keyword, category, or author. You can also browse resources by category by clicking on the "Browse Resources" button in the navigation bar at the top of the page.</p>
            <h2>How do I find a support group?</h2>
            <p>Click on the "Support Groups" button in the navigation bar at the top of the page. You will be taken to a page where you can search for support groups by keyword, category, or author. You can also browse support groups by category by clicking on the "Browse Support Groups" button in the navigation bar at the top of the page.</p>
</main>
<style>
    .container {
        margin-top: 50px;
    }
    h1 {
        font-size: 50px;
        color: #ffff;
    }
    h2 {
        font-size: 30px;
        color: #000000;
    }
    p {
        font-size: 20px;
        color: #ffff;
    }
    hr {
        width: 50%;
    }
</style>