<main>
    <center>
    <h1 style="color: #ffff">Features</h1>
    </center>
    <div class="image-container">
  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <img src="https://media.discordapp.net/attachments/975424836388126740/1079093395835867186/asian-businessmen-businesswomen-meeting-brainstorming-ideas-about-creative-web-design-planning-application-developing-template-layout-mobile-phone-project-working-together-small-office.jpg" alt="image" width="100%" style="border-radius: 20%;">
      </div>
      <h1 style="color: #ffff; text-align: center;">Özellik 1</h1>
      <p style="color: black; font-size: 20px; text-align: center; font-weight: 700;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum mi ac mauris ultricies viverra. Nullam ultricies nibh luctus, auctor nisi id, tristique mauris. Etiam vulputate lacus nec ullamcorper semper. Cras scelerisque condimentum justo, viverra fermentum magna aliquam vel. Nullam condimentum dolor sit amet tellus tristique scelerisque. Cras nec blandit orci. Ut at tortor euismod leo mollis tristique. Nulla facilisi. Proin ut semper eros. Nulla auctor, diam non porta tempus, nulla ipsum porttitor dolor, in cursus lacus neque at diam. Nam elementum ultrices neque, pellentesque volutpat sapien commodo sed. Aenean sed sodales ligula.</p>
    </div>
    <div class="col-md-6">
      <div class="image">
        <img src="https://media.discordapp.net/attachments/975424836388126740/1079099419162583050/Baslksz-1.jpg" alt="image" width="100%" style="border-radius: 20%;">
      </div>
      <h1 style="color: #ffff; text-align: center;">Özellik 2</h1>
      <p style="color: black; font-size: 20px; text-align: center; font-weight: 700;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum mi ac mauris ultricies viverra. Nullam ultricies nibh luctus, auctor nisi id, tristique mauris. Etiam vulputate lacus nec ullamcorper semper. Cras scelerisque condimentum justo, viverra fermentum magna aliquam vel. Nullam condimentum dolor sit amet tellus tristique scelerisque. Cras nec blandit orci. Ut at tortor euismod leo mollis tristique. Nulla facilisi. Proin ut semper eros. Nulla auctor, diam non porta tempus, nulla ipsum porttitor dolor, in cursus lacus neque at diam. Nam elementum ultrices neque, pellentesque volutpat sapien commodo sed. Aenean sed sodales ligula.</p>
    </div>
  </div>
</div>

</main>
<style>
    .image {
  position: relative;
  animation: bounceIn 2s forwards;
  border: 5px solid #ffffff;
  border-radius: 20%;
}
    .image2 {
  position: relative;
  animation: slideLeft 2s forwards;
  border: 5px solid #ffffff;
  border-radius: 20%;
}

    @keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
    @keyframes bounceIn {
  from {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(20px);
  }
  90% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
    @keyframes slideLeft {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
    @keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
</style>