<main>
<h1 style="text-align:center !important; color: white">Prisma</h1>
<script src="./layouts/js/script.js"></script>
<center><div class="card" style="width: 18rem;">
  <img src="https://avatars.githubusercontent.com/u/79187578" class="card-img-top" alt="Image">
  <div class="card-body">
    <h5 class="card-title">Yapım Aşamasında</h5>
    <p class="card-text">Sitemiz şuanda Yapım aşamasındadır. Gelişmeleri Açık Kaynak olarak aşağıdaki Linkten takip edebilirsiniz.</p>
    <a href="https://github.com/Phoenix-rat/prisma" class="btn btn-primary" id="btn">GitHub</a>
  </div>
</div>
</center>
</main>

