<title> Phoenix </title>
<main>
	<div>
		<br>
				<div class="kadoboxx" style="padding: 20px;">
			<h3><img src="https://cdn.discordapp.com/emojis/733688934667780137.gif?v=1" width="30"> Öneri</h3>
			<strong><br>Önerileriniz sayesinde projemizi güncellemeye devam edeceğiz.<br>Gereksiz öneriler siteden uzaklaştırılacaktır.<br><a style="color: rgb(35, 211, 255);" href="/contact">İletişim Kısmından</a> farklı konular hakkında iletişime geçebilirsiniz.</br></strong>
		     <form method="POST">
                <div>
					<center>
                    <input class="form-control" type="email" name="email" rows="2" placeholder="İletişim e postanız!" style="background-color: white;" required></input>
					<input class="form-control" type="text" name="adress" rows="2" placeholder="Discord / Github / Instagram vb. Adresiniz." style="background-color: white;" required></input>
                    <input class="form-control" type="text" name="message" rows="2" placeholder="Öneriniz!" style="background-color: white; " required></input>
					<br>
                    </div>
					<br>
                    <button class="btn btn-success ml-2 d-inline-flex" type="submit">Gönder</button>
					</center>
                </div>
            </form>

		</div>
		<br>
		<br>
	</div>

</main>
<style type="text/css">
	.kado {
		width: 400px;
		height: 250px;
		display: table;
		position: relative;
		overflow: hidden;
		text-align: center;
		margin: 0 auto;
	}

	.kadoboxx {
		box-shadow: 0 6px 6px rgb(16, 32, 255);
		background-color: #161616;
		color: white;
		padding: 20px;
		margin: 50px;
	}


</style>